form {
  display: flex;

  flex-direction: column;
}

form label {
  font-weight: bold;
}

main {
  padding: 0 30px;
}

.navbar ul {
  list-style-type: none;
  background-color: #d9b99b;
  color: black;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  font-family: Georgia, serif;
}

.navbar a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: #eed9c4;
}

.projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}

li {
  font-size: 20px;
}
.text {
  flex: 1;
}

.image img {
  width: 450px;
  height: auto;
  border-radius: 8px;
  display: block;
}

header h1 {
  text-align: center;
  font-family: Impact, fantasy;
}

body {
  background-color: #eed9c4;
  color: black;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
}

h3 {
  text-decoration: underline;
}

p {
  font-size: 20px;
}
#contactme {
  text-align: center;
  padding: 60px 20px;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: nowrap;
  margin-top: 30px;
}

.contact-card {
  background-color: #eed9c4;
  border: 1.5px solid black;
  border-radius: 20px;
  padding: 20px 30px;
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-card a {
  color: black;
  font-weight: bold;
}
